scripts/extras/
*.nc
*__pycache__
scripts/__pycache__/
*workspace*
*.DS_STORE
*.tif
scripts/old/
data/NHDPLUS_H_1802_HU4_GDB.*
*.tiff
data/modis_SDD/*
*.zip
/data/tifs/*
caldor-photos/
data/2019.10.07/
data/ALPHA_MONTHLY.csv
data/NHDPLUS_H_1802_HU4_GDB/
data/NHDPLUS_H_1804_HU4_GDB.gdb/
data/NHDPLUS_H_1804_HU4_GDB.jpg
data/NHD_H_18020129_HU8_GDB.gdb/
data/NHD_H_18020129_HU8_GDB.jpg
data/ca3858612053820210815/
data/caldor_region.fix
data/cap23.csv
data/cdecdaily.csv
data/cdecdata.csv	
data/combined_course_data.csv
data/four_series.csv
data/input.txt
data/kyburz_daily.csv
data/kyburz_flow.csv
data/kyburz_historical.csv
data/lake-tahoe.geojson
data/manual_518.csv
data/manual_518.txt
data/manual_581.csv
data/mod10a1url.txt
data/ucla_cdec_data.npy
data/ucla_snotel_data.npy
data/vectors/
extras/

